h1 {
  text-align: center;
}

.main {
  font-family: "Lato", sans-serif;
  margin-top: 200px;
  text-align: center;
}

button {
  padding: 30px;
  border: 3px solid black;
  font-size: 30px;
}

#incrementButton {
  background-color: green;
  margin-right: 100px;
  border-radius: 40%;
}

#decrementButton {
  background-color: red;
  margin-left: 100px;
  border-radius: 40%;
}

#resetButton {
  color: white;
  background-color: black;
  border-radius: 50%;
}

#counter {
  font-size: 200px;
}
